body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(110, 122, 122);
    position: relative;
}
.sign_in{
    width:400px;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
}
.sign_in input{
    padding: 15px;
    border-radius: 10px;
}
#button_pass:hover{
    background-color: aqua;
}
.hello{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: rgb(24, 240, 24);
    padding-bottom: 50px;
}
.head{  
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}
.head img{
    width:700px;
}
.container{
    width: 800px;
    height: 1100px;
    margin: auto;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-image: url(notebook.jpg);
    background-position: -67px -70px;
    background-size: 119%;
    margin-bottom: 20px;
    border-radius: 30px;
    display: none;
}
input.nut1{
    background-color: rgb(187, 199, 199);
    width:550px;
    padding:20px;
    border-radius: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 20px;
    margin-top: 35px;
    border: navajowhite;
}
.khoi{
    margin-left: 99px;
}
input.radio1{
        width: 50px;
        height: 50px;
        position: absolute;
        border-radius: 5px;
        margin-top: 43px;
        margin-left: 30px;
        border-radius: 3px!important;
}
.nutkt{
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(187, 199, 199);
    font-size: 28px;
    font-weight: bold;
    margin-top: 15px;
    transition: 0.4s;
    font-style: italic;
    transition: 0.4s;
    border: solid red;
}

#nutx1{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 17px;
    background-color:brown;
    color: aliceblue;
}
.nutkt:hover{
background-color: rgb(31, 187, 187);
}
.nut1:hover{
    background-color: rgb(219, 230, 230);
}
#information1{
    background-color: #09674780;
    text-align: center;
    width:500px;
    height: 200px;
    margin: auto;
    border: solid gray;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    display: none;
}
#information1 .dau{
    height:40px;
    background-color: #5f1515;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 8px;
    padding-left: -10px;
    font-weight: bold;
    color: #9de8e8;
}
@media (max-width:576px){
    .head{
        width:576px;
        margin: auto;
        margin-left: 145px;
    }
    #information1{
        margin-left: 18px;
        margin-top: 100px;
        font-size: 32px!important;
        width: 700px;
        height: 300px;
    }
    .head img{
        margin-left: -92px;
    }
    .sign_in{
        margin-left:180px;
    }
    .hello{
        width: 100%;
        margin-left: 190px;
    }
    .don_giuong{
        margin-left: 51px!important;
        width: 650px!important;
        font-size: 20px;
        height: 800px!important;
    }
}

.don_giuong{
    position: relative;
    width:500px;
    height: 650px;
    margin: auto;
    background-color: #3a8e72b5;
    border-radius: 20px;
    border: solid gray;
    display: none;
}
.don_giuong h3{
    padding-top: 30px;
    text-align: center;
}
.don_giuong li{
   margin-top: 20px;
}
.don_giuong .dau{
    padding-top: 8px;
    text-align: center;
    font-weight: bold;
    color: #7cbbbb;
    height: 40px;
    background-color: #671d1dcc;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.don_giuong .nutx2{
    font-weight: bold;
    color:white;
    background-color: brown;
    position: absolute;
    top:10px;
    right:10px;
}